@media screen and (min-width:480px){
    body{
        border: 1px solid red;
    }

    .grid{
        border: 1px solid purple;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap:25px;
    }

    .wrapper{
        max-width: 1440px;
        margin: auto;
    }
}


@media screen and (min-width: 768px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and (min-width: 1024px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}